<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 align="center" style=".....">
<a href="/addcourse/">Add course</a>&nbsp;
<a href="/course/">view course</a>&nbsp;
<a href="/addfaculty/">add faculty</a>&nbsp;
<a href="/faculty/">view faculty</a>&nbsp;
<a href="/student/">view student details</a>
</h4>
{% load staticfiles %}
<img src="{% static "student1.jpg" %}">
<img src="{% static "stu5.jpg" %}">
<img src="{% static "stu.jpg" %}">
<img src="{% static "stu2.jpg" %}">
</body>
</html>