<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load staticfiles %}
<h2 align="center">
<a href="/admin_login_details/">Admin login</a>
<a href="/viewstudent/">student registration</a>
<a href="/studentlogin/">student login</a>
</h2>
<img src="{% static "student1.jpg" %}" width="320" height="200">
<img src="{% static "stu.jpg" %}" width="320" height="200">
<img src="{% static "stu4.jpg" %}" width="320" height="200">
<img src="{% static "stu3.jpg" %}" width="320" height="200">
</body>
</html>